.picsm {
  height: 250px;
  widht: 250px;
}

.containerBox {
  position: relative;
  display: inline-block;
}
.text-box {
  position: absolute;
  height: 100%;
  text-align: center;
  width: 100%;
}
.text-box:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
h4 {
  display: inline-block;
  font-size: 5vw; /*or whatever you want*/
  color: #FFF;
}

.btnsize {
  width: 5vw;
  height: 5vw;
}

.icons {
  width: 100px;
  height: 100px;
}

