<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-sm">
      <div class="containerBox">
        <div class="text-box">
          <h4>36 C</h4><br/><br/>
          <button type="button" class="btn btn-success text btnsize">+</button>
          <button type="button" class="btn btn-danger text btnsize">-</button>
        </div>
        <div class="shadow p-3 mb-5 bg-white rounded"><img src="./assets/clock.png" alt="..." class="rounded-circle img-fluid img-responsive"></div>
      </div>
    </div>
    <div class="col-sm">
      <div class="containerBox">
        <div class="text-box">
          <h4>01:12:04</h4><br/><br/>
          <button type="button" class="btn btn-success text btnsize">+</button>
          <button type="button" class="btn btn-danger text btnsize">-</button>
        </div>
        <div class="shadow p-3 mb-5 bg-white rounded"><img src="./assets/clock.png" alt="..." class="rounded-circle img-fluid img-responsive"></div>
      </div>
    </div>
    <div class="col-sm">
      <div class="containerBox">
        <div class="text-box">
          <h4>300 obr/s</h4><br/><br/>
          <button type="button" class="btn btn-success text btnsize">+</button>
          <button type="button" class="btn btn-danger text btnsize">-</button>
        </div>
        <div class="shadow p-3 mb-5 bg-white rounded"><img src="./assets/clock.png" alt="..." class="rounded-circle img-fluid img-responsive"></div>
      </div>
    </div>
  </div>
  <br/><br/><br/><br/><br/><br/>
  <h3>Dostępne funkcje manualne</h3>
  <br/> <br/>
  <div class="row">
    <div class="col">
      <div class="containerBox">
        <div class="text-box">
          <a routerLink="/functions/weight"><img src="./assets/icons/weight.svg" class="icons"/></a><h5>Waga</h5>
        </div>
        <div class="shadow p-3 mb-5 bg-white rounded"><img src="./assets/clock.png" alt="..." class="picsm rounded-circle img-responsive"></div>
      </div>
    </div>
    <div class="col">
      <div class="containerBox">
        <div class="text-box">
          <a routerLink="/functions/boiling"><img src="./assets/icons/kettle.svg" class="icons"/></a><h5>Czajnik</h5>
        </div>
        <div class="shadow p-3 mb-5 bg-white rounded"><img src="./assets/clock.png" alt="..." class="picsm rounded-circle img-responsive"></div>
      </div>
    </div>
    <div class="col">
      <div class="containerBox">
        <div class="text-box">
          <a routerLink="/functions/mixer"><img src="./assets/icons/mixer.svg" class="icons"/></a><h5>Mikser</h5>
        </div>
        <div class="shadow p-3 mb-5 bg-white rounded"><img src="./assets/clock.png" alt="..." class="picsm rounded-circle img-responsive"></div>
      </div>
    </div>
    <div class="col">
      <div class="containerBox">
        <div class="text-box">
          <a routerLink="/functions/cleaning"><img src="./assets/icons/clean.svg" class="icons"/></a><h5>Czyszczenie</h5>
        </div>
        <div class="shadow p-3 mb-5 bg-white rounded"><img src="./assets/clock.png" alt="..." class="picsm rounded-circle img-responsive"></div>
      </div>
    </div>
  </div>
</div>
