<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-sm">
      <div class="containerBox">
        <div class="text-box">
          <h4>{{tempup}}<sup>o</sup>C</h4><br/><br/>
          <button (mousedown)="mousedown()" (mouseup)="mouseup()" (mouseleave)="mouseup()" type="button" class="btn btn-success text btnsize" matTooltip="Zwiększ temperature">+</button>
          <button (mousedown)="mousedowndel()" (mouseup)="mouseup()" (mouseleave)="mouseup()" type="button" class="btn btn-danger text btnsize" matTooltip="Zmniejsz temperature">-</button>
        </div>
        <div><img src="./assets/clock.png" alt="..." class="rounded-circle img-fluid img-responsive shadow p-3 mb-5 bg-white rounded"></div>
      </div>
    </div>
    <div class="col-sm">
      <div class="containerBox">
        <div class="text-box">
          <h4>{{h}}:{{m}}:{{s}}</h4><br/><br/>
          <ul class="list-group">
            <li class="list-group-item">
              godzin: <button (mousedown)="mousedownh()" (mouseup)="mouseup()" (mouseleave)="mouseup()" type="button" class="btn btn-success text btnsize">+</button>
              <button (mousedown)="mousedowndelh()" (mouseup)="mouseup()" (mouseleave)="mouseup()" type="button" class="btn btn-danger text btnsize">-</button>
            </li>
            <li class="list-group-item">
              minut : <button (mousedown)="mousedownm()" (mouseup)="mouseup()" (mouseleave)="mouseup()" type="button" class="btn btn-success text btnsize">+</button>
              <button (mousedown)="mousedowndelm()" (mouseup)="mouseup()" (mouseleave)="mouseup()" type="button" class="btn btn-danger text btnsize">-</button>
            </li>
            <li class="list-group-item">
              sekund: <button (mousedown)="mousedowns()" (mouseup)="mouseup()" (mouseleave)="mouseup()" type="button" class="btn btn-success text btnsize">+</button>
              <button (mousedown)="mousedowndels()" (mouseup)="mouseup()" (mouseleave)="mouseup()" type="button" class="btn btn-danger text btnsize">-</button>
            </li>
          </ul>
        </div>
        <div><img src="./assets/clock.png" alt="..." class="rounded-circle img-fluid img-responsive shadow p-3 mb-5 bg-white rounded"></div>
      </div>
    </div>
    <div class="col-sm">
      <div class="containerBox">
        <div class="text-box">
          <h4>{{o}} obr/m</h4><br/><br/>
          <button (mousedown)="mousedowno()" (mouseup)="mouseup()" (mouseleave)="mouseup()" type="button" class="btn btn-success text btnsize" matTooltip="Zwiększ obroty">+</button>
          <button (mousedown)="mousedowndelo()" (mouseup)="mouseup()" (mouseleave)="mouseup()" type="button" class="btn btn-danger text btnsize" matTooltip="Zmniejsz obroty">-</button>
        </div>
        <div><img src="./assets/clock.png" alt="..." class="rounded-circle img-fluid img-responsive shadow p-3 mb-5 bg-white rounded"></div>
      </div>
    </div>
  </div>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <h3>Dostępne funkcje manualne</h3>
  <br/> <br/>
  <div class="row">
    <div class="col">
      <div class="containerBox">
        <div class="text-box">
          <a routerLink="/functions/weight"><img src="./assets/icons/weight.svg" class="icons"/></a><h5>Waga</h5>
        </div>
        <img src="./assets/clock.png" alt="..." class="picsm rounded-circle img-responsive shadow p-3 mb-5 bg-white rounded" matTooltip="Umieść produkt na pojemniku">
      </div>
    </div>
    <div class="col">
      <div class="containerBox">
        <div class="text-box">
          <a routerLink="/functions/boiling"><img src="./assets/icons/kettle.svg" class="icons"/></a><h5>Czajnik</h5>
        </div>
        <div><img src="./assets/clock.png" alt="..." class="picsm rounded-circle img-responsive shadow p-3 mb-5 bg-white rounded"></div>
      </div>
    </div>
    <div class="col">
      <div class="containerBox">
        <div class="text-box">
          <a routerLink="/functions/mixer"><img src="./assets/icons/mixer.svg" class="icons"/></a><h5>Mikser</h5>
        </div>
        <div><img src="./assets/clock.png" alt="..." class="picsm rounded-circle img-responsive shadow p-3 mb-5 bg-white rounded"></div>
      </div>
    </div>
    <div class="col">
      <div class="containerBox">
        <div class="text-box">
          <a routerLink="/functions/cleaning"><img src="./assets/icons/clean.svg" class="icons"/></a><h5>Czyszczenie</h5>
        </div>
        <div><img src="./assets/clock.png" alt="..." class="picsm rounded-circle img-responsive shadow p-3 mb-5 bg-white rounded"></div>
      </div>
    </div>
  </div>
</div>
