<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-sm">
      <div class="containerBox">
        <h3 style="text-align: center">Temperatura wody</h3><br/>
        <div class="text-box">
          <h4>.. C</h4><br/>
        </div>
        <div class="shadow p-3 mb-5 bg-white rounded"><img src="./assets/clock.png" alt="..." class="rounded-circle img-fluid img-responsive"></div>
      </div>
    </div>
    <div class="col-sm">
      <button type="button" class="btn btn-success text" style="width: 200px; height: 120px; margin-top: 250px"><h2>Zacznij gotowanie</h2></button>
    </div>
  </div>
</div>

