<div class="container">
  <div class="row">
    <div class="col">
      Oprogramowanie
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Wersja:
          <span class="badge badge-primary badge-pill">{{options.version}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          wersja przepisów
          <span class="badge badge-primary badge-pill">{{options.receipeVer}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Data ostatniej aktualizacji
          <span class="badge badge-primary badge-pill">{{options.lastUpdate}}</span>
        </li>
      </ul>
    </div>
    <div class="col">
      <button (click)="startAct()" type="button" class="btn btn-success mt-5">Sprawdź aktualizacje</button><br/>
      <button type="button" class="btn btn-info mt-1" routerLink="/user">Historia przepisów</button><br/>
      <button type="button" class="btn btn-warning mt-1" routerLink="/admin">Zarządzanie przepisami</button>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      Użytkownicy
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Bieżący użytkownik
          <span class="badge badge-primary badge-pill">{{options.username}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Data rejestracji
          <span class="badge badge-primary badge-pill">{{options.regDate}}</span>
        </li>
      </ul>
    </div>
    <div class="col">
      Pomoc techniczna
      <ul class="list-group">
        <li class="list-group-item">Telefon: 111-222-333</li>
        <li class="list-group-item">E-mail: abcd@poczta.pl</li>
        <li class="list-group-item">Serwis: Kielce ul. Kielecka 22</li>
      </ul>
    </div>
    <div class="col">
      Dane o konserwacji
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Ostatnie czyszczenie
          <span class="badge badge-primary badge-pill">{{options.lastClean}}</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <form name="language" (submit)="setOptions()">
      <ul class="list-group">
        <li class="list-group-item">
            <label class="my-1 mr-2" for="lan">Wybierz język: </label>
            <select class="custom-select my-1 mr-sm-2" id="lan" name="lan" [(ngModel)]="model.language">
              <option selected>{{options.language}}</option>
              <option value="Polski">Polski</option>
              <option value="Angielski">Angielski</option>
              <option value="Niemiecki">Niemiecki</option>
            </select>
        </li>
        <li class="list-group-item">
          <label class="my-1 mr-2" for="country">Wybierz kraj: </label>
          <select class="custom-select my-1 mr-sm-2" id="country" name="country" [(ngModel)]="model.country">
            <option selected>{{options.country}}</option>
            <option value="Polska">Polska</option>
            <option value="Wielka Brytania">Wielka Brytania</option>
            <option value="Niemcy">Niemcy</option>
          </select>
        </li>
      </ul>
        <ul class="list-group">
          <li class="list-group-item">
            <label for="voice">Dostosuj poziom głośności</label>
            <input type="range" class="custom-range" id="voice" value="{{options.voiceLevel}}" name="vm" [(ngModel)]="model.voiceLevel">
          </li>
          <li class="list-group-item">
            <label for="brightness">Dostosuj jasność ekranu</label>
            <input type="range" class="custom-range" id="brightness" value="{{options.screenBright}}" name="sb" [(ngModel)]="model.screenBright">
          </li>
        </ul>
        <br/>
        <label>Dostosuj jednostki miar</label>
        <select class="custom-select mr-sm-2" id="systss" name="ms" [(ngModel)]="model.sysMeter">
          <option value>{{options.sysMeter}}</option>
          <option value="metryczne">metryczne</option>
          <option value="imperialne">imperialne</option>
        </select>
        <br/>
        <button type="submit" class="btn btn-success float-right">Zatwierdź</button>
      </form>
    </div>
  </div>
</div>
