<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="pic">
      <a routerLink="/receipes">
      <div class="box">
        <img src="./assets/welcome1.jpg" class="img-fluid" alt="receipes" matTooltip="Przeglądaj i realizuj zapisane przepisy, przeglądaj opinie">
        <div class="text">
          <div class="p-3 mb-2 bg-light text-dark"><h1>Przepisy</h1></div>
        </div>
      </div>
      </a>
      </div>
    </div>
    <div class="col">
      <div class="pic">
      <a routerLink="/functions">
      <div class="box">
        <img src="./assets/welcome2.jpg" class="img-fluid" alt="Responsive image" matTooltip="Ustaw parametry urzadzenia manualnie, skorzystaj z gotowych funckji">
        <div class="text">
          <div class="p-3 mb-2 bg-light text-dark"><h1>Funkcje</h1></div>
        </div>
      </div>
      </a>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <div class="pic">
      <a routerLink="/options">
      <div class="box">
        <img src="./assets/welcome3.svg" class="img-fluid text-center" height="400px" alt="Responsive image" matTooltip="Sprawdź aktualizacje, dane o użytkowniku, ułatwienia dostępu">
        <div class="text">
          <div class="p-3 mb-2 bg-light text-dark"><h1>Panel użytkownika</h1></div>
        </div>
      </div>
      </a>
      </div>
    </div>
  </div>
</div>
