<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-sm">
      <div class="containerBox">
        <h3 style="text-align: center">Mikser</h3><br/>
        <div class="text-box">
          <h4>... obr/min</h4>
          <button type="button" class="btn btn-success text btnsize">+</button>
          <button type="button" class="btn btn-danger text btnsize">-</button><br/><br/>
        </div>
        <img src="./assets/clock.png" alt="..." class="rounded-circle img-fluid img-responsive">
      </div>
    </div>
    <div class="col-sm">
      <button type="button" class="btn btn-success text" style="height: 200px; width: 300px; margin-top: 230px"><h2>Zacznij miksowanie</h2></button>
    </div>
  </div>
</div>
