<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-sm">
      <div class="containerBox">
        <h3 style="text-align: center">Mikser</h3><br/>
        <div class="text-box">
          <h4>{{o}} obr/minute</h4>
          <button (mousedown)="mousedown()" (mouseup)="mouseup()" (mouseleave)="mouseup()" type="button" class="btn btn-success text btnsize">+</button>
          <button (mousedown)="mousedowndel()" (mouseup)="mouseup()" (mouseleave)="mouseup()" type="button" class="btn btn-danger text btnsize">-</button>
        </div>
        <div class="shadow p-3 mb-5 bg-white rounded"><img src="./assets/clock.png" alt="..." class="rounded-circle img-fluid img-responsive"></div>
      </div>
    </div>
    <div class="col-sm">
      <button (click)="mixerAlert()" type="button" class="btn btn-success text" style="height: 200px; width: 300px; margin-top: 230px"><h2>Zacznij miksowanie</h2></button>
      <button (click)="mixerAlertEnd()" type="button" class="btn btn-warning text" style="height: 200px; width: 300px; margin-top: 230px"><h2>Zakończ miksowanie</h2></button>
    </div>
  </div>
</div>
