<div class="container border bg-light shadow p-3 mb-5 bg-white rounded">
  <div *ngIf="receipe">
  <div class="row">
    <div class="col-sm">
      <h1>{{receipe.name}}</h1>
      <button (click)="startCook()" class="btn btn-success mt-5">Rozpocznij gotowanie</button>
    </div>
    <div class="col-sm">
      <img src="{{receipe.photo}}" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <img src="./assets/receipe/gear.svg" class="card-img-top ricon" alt="...">
      <h5>Trudność: {{receipe.difficulty}}</h5>
    </div>
    <div class="col">
      <img src="./assets/receipe/money.svg" class="card-img-top ricon" alt="...">
      <h5>Cena: {{receipe.price}}</h5>
    </div>
    <div class="col">
      <img src="./assets/receipe/clock.svg" class="card-img-top ricon" alt="...">
      <h5>Czas: {{receipe.cookingTime}}</h5>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-4">
      <h4>Składniki</h4>
      <p>{{receipe.ingredients}}</p>
      <h4>Wartości odżywcze</h4>
      <p>{{receipe.nvalues}}</p>
    </div>
    <div class="col-8">
      <h4>Przygotowanie</h4>
      <p>{{receipe.preparing}}</p>
      <br/>
      <h4>Oceń przepis</h4>
<!--      <form>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" [(ngModel)]="model.mark">
        <option selected >Ocena</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="3">4</option>
        <option value="3">5</option>
      </select>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="treść" [(ngModel)]="model.content"></textarea><br/>
      <button (click)="addOpinion()" type="submit" class="btn btn-success">Wyślij</button>
      </form>-->
      <form name="form" #f="ngForm" (submit)="addOpinion()" novalidate class="feedback-form">
        <div class="form-group">
          <label>Ocena: </label>
          <select class="custom-select mr-sm-2" [(ngModel)]="model.mark" name ="sel">
            <option selected >Ocena</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="3">4</option>
            <option value="3">5</option>
          </select>
        </div>
        <div class="form-group">
          <label>Wprowadź opinie</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="treść" [(ngModel)]="model.content" name="tex"></textarea><br/>
        </div>
        <button type="submit" class="btn btn-info pull-right">
          <i class="fa fa-envelope-o"></i>
          <span> Wyślij</span>
        </button>
      </form>
      <br/>
      <button (click)="showOpinions=true" type="submit" class="btn btn-outline-dark">Pokaż opinie</button>
    </div>
  </div>
    <div class="row">
      <div *ngIf="showOpinions" class="col">
        <div *ngFor="let opinion of opinion" class="mt-4">
            <div class="card">
              <div class="card-header">
                Wystawiona ocena: {{opinion.mark}}
              </div>
              <div class="card-body">
                <p class="card-text">{{opinion.content}}</p>
              </div>
              <div class="card-footer text-muted">
                {{opinion.username}}
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
