<div class="container border bg-light shadow p-3 mb-5 bg-white rounded">
  <div *ngIf="receipe">
  <div class="row">
    <div class="col-sm">
      <h1>{{receipe.name}}</h1>
      <button (click)="startCook()" class="btn btn-success mt-5">Rozpocznij gotowanie</button>
    </div>
    <div class="col-sm">
      <img src="{{receipe.photo}}" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <img src="./assets/receipe/gear.svg" class="card-img-top ricon" alt="...">
      <h5>Trudność: {{receipe.dificulty}}</h5>
    </div>
    <div class="col">
      <img src="./assets/receipe/money.svg" class="card-img-top ricon" alt="...">
      <h5>Cena: {{receipe.price}}</h5>
    </div>
    <div class="col">
      <img src="./assets/receipe/clock.svg" class="card-img-top ricon" alt="...">
      <h5>Czas: {{receipe.cookingTime}}</h5>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-4">
      <h4>Składniki</h4>
      <p>{{receipe.ingredients}}</p>
      <h4>Wartości odżywcze</h4>
      <p>{{receipe.nvalues}}</p>
    </div>
    <div class="col-8">
      <h4>Przygotowanie</h4>
      <p>{{receipe.preparing}}</p>
    </div>
  </div>
  </div>
</div>
