<mat-dialog-actions>
  <div *ngIf="showAct">
    <h2 mat-dialog-title>Informacja</h2>
    <mat-dialog-content>Nastąpi wyszukiwanie aktualizacji</mat-dialog-content>
    <button (click)="showS()" mat-button>Rozpocznij</button>
    <button mat-button mat-dialog-close>Anuluj</button>
  </div>
</mat-dialog-actions>

<mat-spinner *ngIf="showSpinner"></mat-spinner>
<div *ngIf="showEnd">
  <mat-dialog-content>Oprogramowanie jest aktualne</mat-dialog-content>
  <button mat-button mat-dialog-close>Zakończ</button>
</div>
