<router-outlet></router-outlet>
<div class="container-fluid">
  <div class="row">
    <div class="col-xl">
      <div class="pic">
          <div class="box">
            <img src="./assets/receipes1.jpg" class="img-fluid" alt="receipes">
            <div class="text">
              <div class="p-3 mb-2 bg-light text-dark"><h1>Co dziś gotujemy?</h1><p></p><p></p>
                  <input class="form-control mr-sm-2" type="text" placeholder="wpisz danie" aria-label="Search" [(ngModel)]="term"><p></p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div *ngFor="let receipe of receipes |filter:term; index as receipeId" class="col-md-4 mt-4">
    <div class="card">
      <img src="{{receipe.photo}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{receipe.name}}</h5>
        <p class="card-text">Ocena: {{receipe.mark}}</p>
        <a [title]="receipe.name + ' details'" [routerLink]="['/receipes',receipeId]" class="btn btn-success">więcej</a>
      </div>
    </div>
  </div>
</div>
