<router-outlet></router-outlet>
<div class="container-fluid">
  <div class="row">
    <div class="col-xl">
      <div class="pic">
          <div class="box">
            <img src="./assets/receipes1.jpg" class="img-fluid" alt="receipes">
            <div class="text">
              <div class="p-3 mb-2 bg-light text-dark"><h1 class="display-1">Co dziś gotujemy?</h1><p></p><p></p>
                <form>
                  <input class="form-control mr-sm-2" type="search" placeholder="wpisz danie" aria-label="Search"><p></p>
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
                </form>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>



  <div class="row mt-2">
    <div class="d-flex flex-row bd-highlight mb-3 mt-5 ml-5 mr-5">
      <div *ngFor="let receipe of receipes | filter:term; index as receipeId" class="container">
        <div class="card">
          <img src="{{receipe.photo}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{receipe.name}}</h5>
            <p class="card-text">Ocena: {{receipe.mark}}</p>
            <a [title]="receipe.name + ' details'" [routerLink]="['/receipes',receipeId]" class="btn btn-success">więcej</a>
          </div>
        </div>
      </div>
    </div>
</div>
